#╔═════════════════════════════════════════════════════════╗
#║                       [.gitignore]                      ║
/S
/.env
logo.ico
.U
#║                   <No rest for dreamers>                ║
#╚═════════════════════════════════════════════════════════╝